.pagers {
    width: 100%;
    margin-bottom: 2rem;
}

.pager {
    @extend %base-type;

    display: inline-block;
    text-align: center;
    min-width: 7rem;
    color: $color-text-dark;
    font-weight: 700;
    padding: .75rem;
    box-shadow: 0 0 6px rgba(black, 0.15);
    border-radius: 2px;

    .icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.25rem;
        font-size: 0.7rem;
        position: relative;
        top: -0.05em;
        transition: color 150ms;
        color: $color-medium-grey;
    }

    &:hover {
        box-shadow: 0 0 6px rgba(black, 0.075);

        .icon {
            color: $color-tmdb;
        }
    }
}