$color-text-dark:      #333;
$color-text-light:     #ccc;

$color-light-grey:     #f4f4f4;
$color-medium-grey:    #aaa;
$color-dark-grey:      #777;
$color-almost-black:   #333;

$color-tmdb:           #01d277;

$font-sans:             'proxima-nova', 'roboto', sans-serif;

$break-small:          500px;
$break-mid:            800px;
$break-large:          1400px;